<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../styles/image-gallery-styles.css">
  <script src="/image-gallery.js"></script>
  <title>Document</title>
</head>
<body>
  <header>
    <nav>

    </nav>
    <h1>
      THIS IS THE HEAD
    </h1>
  </header>
  <main>
    <div class="gallery">
      <div class="container">
        <img src="https://source.unsplash.com/user/danielsessler/1600x900?sig=121/" alt="" class="image">
        <div class="overlay">
          <div class="text">HELLO WORLD</div>
        </div>
      </div>
      <div class="container">
        <img src="https://source.unsplash.com/user/danielsessler/1600x900?sig=122/" alt="" class="image">
        <div class="overlay">
          <div class="text">THIS IS</div>
        </div>
      </div>
      <div class="container">
        <img src="https://source.unsplash.com/user/danielsessler/1600x900?sig=123/" alt="" class="image">
        <div class="overlay">
          <div class="text">A PAGE OF</div>
        </div>
      </div>
      <div class="container">
        <img src="https://source.unsplash.com/user/danielsessler/1600x900?sig=124/" alt="" class="image">
        <div class="overlay">
          <div class="text">INSPIRATION</div>
        </div>
      </div>
      <div class="container">
        <img src="https://source.unsplash.com/user/danielsessler/1600x900?sig=125/" alt="" class="image">
        <div class="overlay">
          <div class="text">AND WONDER</div>
        </div>
      </div>
      <div class="container">
        <img src="https://source.unsplash.com/user/danielsessler/1600x900?sig=126/" alt="" class="image">
        <div class="overlay">
          <div class="text">HOVER OVER</div>
        </div>
      </div>
      <div class="container">
        <img src="https://source.unsplash.com/user/danielsessler/1600x900?sig=127/" alt="" class="image">
        <div class="overlay">
          <div class="text">THESE IMAGES</div>
        </div>
      </div>
      <div class="container">
        <img src="https://source.unsplash.com/user/danielsessler/1600x900?sig=128/" alt="" class="image">
        <div class="overlay">
          <div class="text">FOR EXCITING</div>
        </div>
      </div>
      <div class="container">
        <img src="https://source.unsplash.com/user/danielsessler/1600x900?sig=129/" alt="" class="image">
        <div class="overlay">
          <div class="text">CAPTIONS</div>
        </div>
      </div>
      <div class="container">
        <img src="https://source.unsplash.com/user/danielsessler/1600x900?sig=130/" alt="" class="image">
        <div class="overlay">
          <div class="text">AND EXILLERATING</div>
        </div>
      </div>
      <div class="container">
        <img src="https://source.unsplash.com/user/danielsessler/1600x900?sig=131/" alt="" class="image">
        <div class="overlay">
          <div class="text">WORDS</div>
        </div>
      </div>
      <div class="container">
        <img src="https://source.unsplash.com/user/danielsessler/1600x900?sig=132/" alt="" class="image">
        <div class="overlay">
          <div class="text">I HOPE</div>
        </div>
      </div>
      <div class="container">
        <img src="https://source.unsplash.com/user/danielsessler/1600x900?sig=133/" alt="" class="image">
        <div class="overlay">
          <div class="text">YOU LEAVE</div>
        </div>
      </div>
      <div class="container">
        <img src="https://source.unsplash.com/user/danielsessler/1600x900?sig=134/" alt="" class="image">
        <div class="overlay">
          <div class="text">MORE INSPIRED</div>
        </div>
      </div>
      <div class="container">
        <img src="https://source.unsplash.com/user/danielsessler/1600x900?sig=135/" alt="" class="image">
        <div class="overlay">
          <div class="text">THAN YOU</div>
        </div>
      </div>
      <div class="container">
        <img src="https://source.unsplash.com/user/danielsessler/1600x900?sig=136/" alt="" class="image">
        <div class="overlay">
          <div class="text">ARRIVED</div>
        </div>
      </div>
    </div>
  </main>
</body>
</html>