<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Resume</title>
    <link rel="stylesheet" href="../styles/resume-styles.css">
    <link href="https://fonts.googleapis.com/css2?family=Karla&family=Rubik:wght@400;600&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/751f3e5756.js" crossorigin="anonymous"></script>
  </head>
  <body>
    <div class="navbar">
      <!-- Default Navbar -->
    <nav id="NavDefault">
      <a href="../index.html">Home</a>
      <a href="./about.html">About Me</a>
      <a href="./resume.html">Resume</a>
      <!-- <a href="./contact.html">Contact Me</a> -->
    </nav>
    <!-- Mobile Navbar -->
    <nav id="NavMobile">
      <div class="DropBtn">
        <div class="BtnLine"></div>
        <div class="BtnLine"></div>
        <div class="BtnLine"></div>        
      </div>
      <div class="DropdownContent">
        <a href="../index.html">Home</a>
        <a href="./about.html">About Me</a>
        <a href="./resume.html">Resume</a>
        <!-- <a href="./contact.html">Contact Me</a> -->
      </div>
    </nav>
    </div>
    <div class="main-container">
      <header>
        <img src="../images/myProfilePic.jpg" alt="Picture of Ben Baron" class="head" id="scared" onmouseover="hide()"></img>
        <h1 class="head" id="tonyhawk" onclick="bounce()">Ben Baron</h1>
        <h2 class="head">Full Stack Developer</h2>
        <p class="head" id="mainP">I’m seeking a position where I will be able to further my skills as a web developer and add to a positive work environment. 
          I’m highly motivated to overcome obstacles that may introduce themselves.</p>
    </header>
    <aside>
      <h3 id="Contact">Contact Info</h3>
      <section>
        <i class="fas fa-phone" onclick="unhide()"></i>
        <p>(512) 669-0318</p>
      </section>
      <section>
        <i class="fas fa-map-pin"></i>
        <p class="sidebar">Austin, Texas</p>
      </section>
      <section>
        <i class="far fa-envelope"></i>
        <p class="sidebar">BenABaron@gmail.com</p>
      </section>
      <section>
        <i class="fab fa-twitter-square"></i>
        <p>@BenABaron</p>
      </section>

    </aside>
    <main>
      <section>
      </section>
      <section>
        <h3 class="things">Areas of Expertise</h3>
          <ul>
            <li>HTML/CSS, Javascript, NodeJS, ReactJS/Redux, ExpressJS, MySQL, JSX, Bootstrap, Material UI, Responsive Design</li>
            <li>Consistently productive and dependable</li>
            <li>Quick to learn new skills, and adaptable to new organizational systems, policies, and rules</li>
            <li>Exceptional work ethic</li>
          </ul>
        
      </section>
      <section>
        <h3 class="things">Professional History</h3>
        <h4>Zollege</h4>
        <p class="detail">Full Stack Web Developer | 2021-present</p>
        <ul>
          <p>Developer as part of an internship program through Austin Coding Academy, responsible for managing and maintaining assigned projects as a team.</p>
          <li>Worked in self managed cohorts to build web applications from the ground up based on professional designs</li>
          <li>Expediently learned new technologies as needed</li>
        </ul>
        <h4>Texas Honey Ham Company</h4>
        <p class="detail">Manager | 2017-2021</p>
        <ul>
          <p>Responsible for any and all operations for the restaurant, as well as smaller tasks behind the scenes.</p>
          <li>Developed communication skills suitable for a fast paced and diverse work environment</li>
          <li>Resolved concerns and/or complaints with patrons</li>
          <li>Management of up to 20 staff members, including position selection and on the fly decision making</li>
        </ul>
      </section>
      <section>
        <h3 class="things">Educational History</h3>
        <h4>Austin Coding Academy</h4>
        <p class="detail">Full Stack Course | 2020-2021</p>
        <p style="font-weight: bold;">Certification in Full Stack Web Development</p>
      </section>

    </main>
  </div>
</body>
</html>