
body {
  margin: 0;
  font-family: 'Teko', sans-serif;
  display: grid;
  grid-template-rows: 100pt auto;
  background: rgb(94,130,180);
  background: linear-gradient(171deg, rgba(94,130,180,1) 0%, rgba(124,121,114,1) 100%);
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
}

h1 {
  font-size: 70pt;
}

main {
  display: grid;
  grid-template-columns: 50% 42% 8%;
}

.zora {
  display: flex;
  flex-direction: column;
}

.zora-pic {
  width: 100%;
  border: 3pt solid black;
  border-left: transparent;
}

#pic1 {
  clip-path: polygon(0% 0%, 100% 0%, 100% 30%, 0% 80%);
}

#pic2 {
  margin-top: -80%;
}

.contact-form, input, button {
  font-size: 25pt;
  font-family: 'Teko', sans-serif;
}

.contact-form {
  margin-left: 20pt;
}


/* Dropdown Button */
.dropbtn {
  background-color: #8f8f8f;
  padding: 8px;
  border: none;
}

.btnline {
  width: 35px;
  height: 5px;
  background-color: black;
  margin: 6px 0;
}

.dropdown {
  margin: 5pt 0pt;
  position: relative;
  display: inline-block;
  width: 40pt;
  height: 40pt;
  border: 3pt solid black;
  background-color: black;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  margin-left: -105px;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #ddd;}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {display: block;}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {background-color: #b3b3b3;}

@media (max-width: 700px) {
  /* h1 {
    font-size: 30pt;
  } */

  main {
    grid-template-columns: 50% 50%;
  }

  .contact-form, input, button {
    font-size: 12pt;
  }

  .dropdown {
    position: absolute;
    grid-column: 1/2;
  }

  .dropdown-content {
    margin-left: 0%;
  }
}