body {
  margin: 0;
  font-family: "Teko", sans-serif;
  display: grid;
  grid-template-rows: auto auto;
  background: rgb(94, 130, 180);
  background: linear-gradient(
    171deg,
    rgba(94, 130, 180, 1) 0%,
    rgba(124, 121, 114, 1) 100%
  );
}

header {
  width: 100%;
  background-color: black;
  font-family: "Roboto Condensed", sans-serif;
}

/* NAVBAR */
#NavDefault {
  display: flex;
  justify-content: flex-end;
  background-color: black;
}

a {
  font-size: 20pt;
  text-decoration: none;
  padding: 10pt 40pt;
  color: white;
}

/* MOBILE NAVBAR */
#NavMobile {
  margin: 2pt;
  position: relative;
  display: none;
  width: 40pt;
  height: 40pt;
}

.DropBtn {
  background-color: black;
  padding: 8px;
  border: none;
  border-radius: 25%;
}

.BtnLine {
  width: 35px;
  height: 5px;
  background-color: rgb(197, 197, 197);
  margin: 6px auto;
}

.DropdownContent {
  display: none;
  position: absolute;
  background-color: #b91d1d;
  margin-left: -160px;
  min-width: 300px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.DropdownContent a {
  color: rgb(255, 255, 255);
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.DropdownContent a:hover {
  background-color: rgb(41, 41, 41);
}

#NavMobile:hover .DropdownContent {
  display: block;
}

#NavMobile:hover .DropdownContent {
  background-color: #000000;
}

h1 {
  font-size: 70pt;
  margin: 0;
}

main {
  display: grid;
  grid-template-columns: 50% 50%;
}

.zora {
  display: flex;
  flex-direction: column;
}

.zora-pic {
  width: 100%;
  border: 3pt solid black;
  border-left: transparent;
}

#pic1 {
  clip-path: polygon(0% 0%, 100% 0%, 100% 30%, 0% 80%);
}

#pic2 {
  margin-top: -80%;
}

.contact-form,
input,
button {
  font-size: 25pt;
  font-family: "Teko", sans-serif;
}

.contact-form {
  margin-left: 20pt;
}

@media (max-width: 900px) {
  h1 {
    font-size: 42pt;
  }
}

@media (max-width: 700px) {
  main {
    grid-template-columns: 50% 50%;
  }

  .contact-form,
  input,
  button {
    font-size: 12pt;
  }
}

@media (max-width: 825px) {
  header {
    display: flex;
    justify-content: flex-end;
  }

  #NavDefault {
    display: none;
  }

  #NavMobile {
    display: inline-block;
  }
}