body {
  margin: 0;
  font-family: "Karla", sans-serif;
  font-family: "Rubik", sans-serif;
  background-color: rgb(160, 160, 160);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.navbar {
  width: 100%;
  background-color: black;
  font-family: "Roboto Condensed", sans-serif;
}

/* NAVBAR */
#NavDefault {
  display: flex;
  justify-content: flex-end;
  background-color: black;
}

a {
  font-size: 20pt;
  text-decoration: none;
  padding: 10pt 40pt;
  color: white;
}

/* MOBILE NAVBAR */
#NavMobile {
  margin: 2pt;
  position: relative;
  display: none;
  width: 40pt;
  height: 40pt;
}

.DropBtn {
  background-color: black;
  padding: 8px;
  border: none;
  border-radius: 25%;
}

.BtnLine {
  width: 35px;
  height: 5px;
  background-color: rgb(197, 197, 197);
  margin: 6px auto;
}

.DropdownContent {
  display: none;
  position: absolute;
  background-color: #b91d1d;
  margin-left: -160px;
  min-width: 300px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.DropdownContent a {
  color: rgb(255, 255, 255);
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.DropdownContent a:hover {
  background-color: rgb(41, 41, 41);
}

#NavMobile:hover .DropdownContent {
  display: block;
}

#NavMobile:hover .DropdownContent {
  background-color: #000000;
}

.main-container {
  margin: 0;
  width: 500pt;
  height: 720pt;
  display: grid;
  grid-template-columns: 30% 70%;
  grid-template-rows: 30% 70%;
  background-color: rgb(249, 255, 251);
}

header {
  grid-column: 1/3;
  grid-row: 1/2;
  display: grid;
  width: 100%;
  grid-template-columns: 30% 70%;
  grid-template-rows: 60% 40%;
}

.head {
  margin-left: 20pt;
}

#mainP {
  font-size: 11pt;
}

img {
  display: flex;
  justify-self: center;
  align-self: center;
  width: 70%;
  box-shadow: -6pt 6pt rgb(63, 63, 63);
}

h1 {
  margin: 35pt 20pt 10pt;
  font-size: 50pt;
  padding-bottom: 10pt;
  border-bottom: 2pt solid blue;
  border-width: 70%;
}

h2 {
  font-size: 16pt;
}

h3 {
  letter-spacing: 3pt;
}

p,
li {
  font-size: 9pt;
}

ul {
  padding-left: 0pt;
  margin-left: 20pt;
}

aside {
  grid-column: 1/2;
  grid-row: 2/3;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  color: white;
  background: rgb(99, 72, 228);
  background: linear-gradient(
    180deg,
    rgba(99, 72, 228, 1) 0%,
    rgba(70, 111, 223, 1) 32%,
    rgba(73, 153, 215, 1) 100%
  );
  padding-top: 25pt;
  padding-bottom: 75pt;
}

#Contact {
  border-bottom: 1pt solid white;
  padding-bottom: 15pt;
}

i {
  font-size: 14pt;
}

.sidebar {
  margin: 2pt;
}

aside section {
  display: flex;
  flex-direction: column;
  align-items: center;
}

main {
  grid-column: 2/3;
  grid-row: 2/3;
  margin: 0 10pt 0 20pt;
}

.things {
  padding-bottom: 10pt;
  border-bottom: 1pt solid blue;
  margin-right: 80pt;
}

h4 {
  margin-bottom: 0pt;
}

.detail {
  margin-top: 0pt;
}

#hidden {
  visibility: hidden;
}
